body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#661b1b;
    color:antiquewhite;
    font-size:x-large;
    text-align: center;
}
#Welcomeheader{
    color:lavenderblush;
    background-color: #621b1b;
}  
#article-1{
    background-color: rgb(134, 32, 32);
}
#profile{
    background-color:rgb(79, 3, 3);
    width:350px;
    height:fit-content;
 } 
footer{
    text-align:center;
    color:azure;
    background-color:#b33333;
    padding: 3px;
    margin-top: 5px;

}
#About{
    margin-top: 34px;
    text-align: center;
}
#Hobbies{
    text-align: center;
    background-color: rgb(141, 29, 29);
    padding: 1px;
    margin-top: 5px;
}